@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Pixelify+Sans:wght@400..700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Jersey+15&family=Pixelify+Sans:wght@400..700&family=VT323&display=swap');


body {
    font-family: 'Pixelify Sans';
}

.containers {
    display: flex;
    width: 110vh;
    height: 70vh;
    /* background-color: aqua; */
    justify-content: space-between;
}

.gameScreen {
    display: flex;
    justify-content: center;
    width: 100vh;
    height: 100%;
    background-image: url(bg.png);
    background-size: cover;
}

.buyContainer {
    display: flex;
    flex-direction: column;
    width: 30vh;
    /* height: 70vh; */
    gap: 1vh;
    padding: 1vh;
    background-color: whitesmoke;
    margin: 1em auto;
    box-shadow: -15px 0 0 0 black, 15px 0 0 0 black, 0 -15px 0 0 black,
        0 15px 0 0 black;
}

#menuBar {
    position: absolute;
}

.mainContainer {
    color: white;
    font-size: 1.5em;
    padding: 1vh;
}

.mainContainer p {
    filter: drop-shadow(2px 2px 1px black);
}

.buyContainer input {
    padding: 20px;
}

#coin-btn {
    padding: 20px;
}

.workArea {
    width: 100vh;
    display: flex;
    gap: 1vh;
    justify-content: right;
}


/* BOTÕES */
.btn-buy {
    width: 30vh;
    border-radius: 2vh;
    height: 7vh;
    display: flex;
    gap: 1vh;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-image: url(madeira-btn-bg.png);
    background-size: contain;
    background-repeat: repeat-x;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.191));
}

.btn-buy h3 {
    filter: drop-shadow(3px 3px 3px black);
    font-size: 1.5em;
    font-family: "Jersey 15", sans-serif;
    color: white;
}

.btn-buy img {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.456));
}